.root {
  extends: box from "shared/styles/layout.css";
  border-style: dotted;
  border-color: green;
}

.text {
  extends: heading from "shared/styles/typography.css";
  font-weight: 200;
  color: green;
}
