.app {
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
}

.hr {
  margin: 40px 0;
  height: 1px;
  border: 0;
  background: #ccc;
}
