@font-face {
  font-family: 'robotoregular';
  src: url('shared/fonts/roboto-regular-webfont.eot');
  src: url('shared/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('shared/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('shared/fonts/roboto-regular-webfont.woff') format('woff'),
       url('shared/fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('shared/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.app {
  text-size-adjust: none;
  font-family: 'robotoregular', helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
}

.hr {
  margin: 40px 0;
  height: 1px;
  border: 0;
  background: #ccc;
}
