$blue:   #056ef0;

@font-face {
  font-family: 'robotoregular';
  src: url('shared/fonts/roboto-regular-webfont.eot');
  src: url('shared/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('shared/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('shared/fonts/roboto-regular-webfont.woff') format('woff'),
       url('shared/fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('shared/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 24px;
  color: red;
  font-family: robotoregular;
}
